header {
    background-color: #C8EDE6;
}

nav {
    background-color: #BDB09F;
}

nav a {
    color: black;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hero-container {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    gap: 20px;
    padding: 20px;
}

.hero {
    flex: 1;
    max-width: 50%;
}

.hero img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.info {
    flex: 1;
    text-align: left;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
}

.cta-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #C8EDE6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.cta-button:hover {
    background-color: #BDB09F;
}


#weather, #spotlights {
    padding: 20px;
    background-color: #EFEFEF;
    margin-top: 20px;
}

#weather-info, #spotlight-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.member-card {
    width: 30%;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

#events-list {
    margin-top: 20px;
}

footer {
    background-color: #C8EDE6;
}

@media screen and (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .info {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    nav a {
        display: none;
    }

    .hamburger-menu {
        display: block;
        font-size: 30px;
        color: white;
        padding: 10px;
    }

    nav.active a {
        display: block;
    }
}